.heroSection{
   .heroSection__text{
    .name{
        font-size: 1.5rem ;
        font-weight: 'regular';
    }
    p{
        font-size: 4rem;
        font-weight: bold;
        padding: 1rem 7rem;
        
    }
   } 
    
}

@media only screen and (max-width: 700px) {
    .heroSection{
        background-color: #ffffff;
        padding: 2rem;

        .heroSection__text{
           .name{
            font-size: 1rem;
           }

           p{
            padding: 0;
            font-size: 1.7rem;
           }
        }

    

    }
    
  
}