.skills{
    margin: 2rem 7rem;
    
    .skill{
        display: flex;
        gap: 20px;

    }
    .skill p{
        padding: 1rem 3rem;
        background-color: #EEE7CD;
        font-size: large;
        font-weight: 600;
    }
}