.footer{
    margin-top: 3rem;
    padding: 3rem 8rem;
    background-color: #fff7fc;
    color: black;
    display: flex;
    justify-content: space-between;
 

    .contact{
       display: flex;
    }

    .socials{
        display: flex;
        justify-content: space-around;

        .socials__images{
           display: flex;
           justify-content: space-between;
        }
    }

}
