.footer{
    // padding: 3rem;
    // background-color: #272727;
   
    // display: flex;
    // justify-content: space-between;
 
    .container{
        margin-top: 3rem;
        // color: rgb(44, 44, 44);
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        // margin: 0 auto;
       
    }
    .contact{
       display: flex;
    }

    .socials{
        display: flex;
        margin-top: 1rem;
        align-items: center;
        justify-content: center;
        // justify-content: space-around;

        .socials__images{
           display: flex;
           justify-content: space-between;
           
        }
    }

}
@media only screen and (max-width: 700px) {
    .footer{
        display: block;
        padding: 2rem 3rem ;

        .contact{
            display: block;
        }
        .socials{
            display: block;
        }
    }
    
  
}