.footer{
    margin-top: 3rem;
    padding: 3rem;
    background-color: #272727;
    color: white;
    display: flex;
    justify-content: space-between;
 

    .contact{
       display: flex;
    }

    .socials{
        display: flex;
        // justify-content: space-around;

        .socials__images{
           display: flex;
           justify-content: space-between;
        }
    }

}
@media only screen and (max-width: 700px) {
    .footer{
        display: block;
        padding: 2rem 3rem ;

        .contact{
            display: block;
        }
        .socials{
            display: block;
        }
    }
    
  
}